<div class="container-sm panel mtl pal">
  <h1 class="lead mtn">{{__ 'How can we help you?'}}</h1>
  <p class="muted mbs"><br/><i class="icon-phone"></i>{{__ "09610-007007 Sunday-Thursday from 9:30am to 5:30pm (except govt. holidays)"}}</p>
  <p class="muted mbs"><br/>{{__ "Or, Contact us using the form below"}}</p>
  <p class="muted mbs">{{__ "We will respond emails Sunday to Thursday from 9AM to 6PM (except govt. holidays)."}}</p>

  <form action="" method="post" autocomplete="off">
    <div class="input-group--3items">
      <span class="input-item--label">
        <label for="">{{__ 'Your name'}}</label>
        {{#if errors.name}}<span class="error">{{errors.name}}</span>{{/if}}
      </span>
      <input class="input-item--input {{#if errors.name}}input--error{{/if}}" type="text" name="name" value="{{form.name}}">
    </div>

    <div class="input-group--3items">
      <span class="input-item--label">
        <label for="">{{__ 'Email or phone number'}}</label>
        {{#if errors.contact}}<span class="error">{{errors.contact}}</span>{{/if}}
      </span>
      <input class="input-item--input {{#if errors.contact}}input--error{{/if}}" type="text" name="contact" value="{{form.contact}}">
    </div>

    <div class="input-group--3items">
      <span class="input-item--label">
        <label for="">{{__ 'Why you contact us?'}}</label>
        {{#if errors.reason}}<span class="error">{{errors.reason}}</span>{{/if}}
      </span>
      <div class="select input-item--input">
        <select name="reason" class="{{#if errors.reason}}input--error{{/if}}">
          <option value="" selected="" disabled="">{{__ 'Select reason'}}</option>
          {{#each reasons }}
            <option value="{{id}}" {{#ifEqual id ../form.reason}}selected {{/ifEqual}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="input-group--3items">
      <span class="input-item--label mtn" >
        <label for="">{{__ 'Your message'}}</label>
        {{#if errors.message}}<span class="error">{{errors.message}}</span>{{/if}}
      </span>
      <textarea class="input-item--input {{#if errors.message}}input--error{{/if}}" name="message" id="" cols="30" rows="10">{{form.message}}</textarea>
    </div>

    <button type="submit" class="btn btn--primary profile__btn-submit">{{__ 'Submit'}}</button>
  </form>
</div>