<div class="container-sm panel mtl pal">
  <p class="text--lead mbs">{{__ 'About us:'}}</p>
  <p class="text--muted mbs"><strong>{{{__ 'Ekhanei&#8228;com: The trusted choice for safe buying and selling in Bangladesh. It is completely free to post an ad on Ekhanei.com.'}}}</strong></p>

  <p class="text--lead mbs mtl">{{__ 'Rules for advertising:'}}</p>
  <p class="text--muted mbs">{{__ 'It is easy to get your ad approved at Ekhanei.com, we only ask you to be honest, real and polite:'}}</p>

  <ul class="text--muted info_bullet mbs"> 
    <li>{{__ 'Post items which are legal to own and trade in Bangladesh'}}</li>
    <li>{{__ 'Make sure that  the description and images uploaded by you are the accurate representation of the item  or service you intend to sell'}}</li>
    <li>{{__ 'Advertise a specific item or service for sale,and refrain from general marketing'}}</li>
    <li>{{__ 'Do not post, list or upload items, text or image that are violent, discriminatory, unlawful, false, inaccurate, misleading, infringing or inappropriate.'}}</li>
  </ul>
  <p class="text--muted">{{__ 'If an ad is rejected due to breaking the rules, the advertiser will be given the opportunity to change it. Ekhanei.com reserves the right to decide whether an ad does not correspond to the rules and spirit. The rules may change or get updated  from time to time at the sole discretion of Ekhanei.com and an user/advertiser will be subjected to such change or updated terms upon coming into force.'}}</p>

  <p class="text--lead mbs">{{__ 'Terms and Conditions:'}}</p>
  <p class="text--muted mbs">{{__ 'This Web Site ("Ekhanei.com") is a service facilitated by SNT Bangladesh Limited, (hereinafter "SNT Bangladesh Limited", "we", "us" or "our"), subject to your compliance with the Terms and Conditions set forth below. Please read these Terms and Conditions carefully before accessing or using the Ekhanei.com. If you are unable to accept our Terms and Conditions, or our other policies you may not access or use our services. By accessing or using our services you expressly agree to be bound by the these Terms and Conditions.'}}</p>


  <p class="text--muted mbs">{{__ 'Advertisers/users are solely responsible for ensuring that advertising content(s), including text, images, ("Content") submitted and uploaded  in relation to the item or service offered for inclusion on the Ekhanei.com is accurate and complies with applicable laws, rules and regulations. Ekhanei.com & SNT Bangladesh Limited assumes no responsibility for any illegality or any inaccuracy of the Content, including any kind of goods, services or jobs advertised.'}}</p>


  <p class="text--muted mbs">{{__ 'The advertiser/user guarantees that his or her Content does not violate any copyright, intellectual property rights or other rights of any person or entity. Advertiser/user agrees to indemnify and hold Ekhanei.com and SNT Bangladesh Limited and their respective officers, agents and employees harmless from  and against any and all liabilties, demands, claims, suits should the Content provided by him or her infringe upon the patent, copyright or any other rights of a third party. Advertiser/user also agrees to release and indemnify Ekhanei.com and SNT Bangladesh Limited and their respective officers, agents and employees from all obligations, liabilities and claims arising out of or in connection with the use of or the inability to use the service, on any theory of liability and any legal grounds, including for any damage or costs.'}}</p>


  <p class="text--muted mbs">{{__ 'Advertisers agree that their Content can be presented through Ekhanei.com’s partner sites under the same Terms and Conditions of Ekhanei.com.'}}</p>

  <p class="text--muted mbs"><strong>{{__  'Copyright:'}}</strong> {{__ 'By providing the Content on Ekhanei.com advertisers/users grant Ekhanei.com & SNT Bangladesh Limited a perpetual, royalty-free, irrevocable, non-exclusive, sub-licenable, transferable  right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from and distribute such Content or incorporate such Content into any form, medium, or technology now known or later developed.'}}</p>


  <p class="text--muted mbs"><strong>{{__ 'Disclaimer:'}}</strong> {{{__ 'Ekhanei&#8228;com is committed to providing the best service possible. However, Ekhanei.com does not represent or warrant that the service provided by it will be error-free or uninterrupted. Advertisers/users agree that they are making use of the service provided by Ekhanei.com at their own risks, and that they are being provided to the advertisers/users on an ‘AS IS’, ‘AS AVAILABLE’ and ‘WITH ALL FAULTS’ basis. Ekhanei.com & SNT Bangladesh Limited assume no responsibility for the use of the Ekhanei.com and disclaim all responsibility or liability for any loss, injury, claim, liability, or damage of any kind resulting from, arising out of or in any way related to (a) any errors in or omissions from the Ekhanei.com and the Content, including but not limited to technical inaccuracies and typographical errors, (b) any third party web sites or content therein directly or indirectly accessed through links in Ekhanei.com, (c) the unavailability of the Ekhanei.com or any portion thereof, (d) your use of Ekhanei.com, or (e) your use of any equipment or software in connection with the Ekhanei.com.'}}}</p>
  <p class="text--muted mbs">{{__ 'By accessing or using the service of Ekhanei.com the advertisers/users represent and warrant that their acitivities on Ekhanei.com are lawful and in strict compliance with the applicable laws, rules and regulations.'}}</p>
  <p class="text--muted mbs">{{{__ 'Ekhanei&#8228;com deserves the right to refuse or terminate access to its service to anyone for any reason at any time.'}}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Watermarks:'}}</strong> {{__ 'All images are watermarked, preventing the images to be used for other purposes without the prior consent of the advertisers/users.'}}</p>


  <p class="text--muted mbs"><strong>{{__ 'Safety and images:'}}</strong> {{{__ 'Ekhanei&#8228;com & SNT Bangladesh Limited reserves the right to change the title of the Content, for editorial purposes. Ekhanei.com & SNT Bangladesh Limited also reserves the right not to publish images that are irrelevant to the Content, or images that violate the rules of Ekhanei.com. Content that violates any Terms and Conditions of Ekhanei.com may be deleted, edited, or blocked at Ekhanei.com’s discretion.'}}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Personal:'}}</strong> {{__ 'If the Content posted by an advertiser/user violates these Terms and Conditions, the concerned advertiser/user may bear legal responsibility for that Content. Ekhanei.com & SNT Bangladesh Limited has the right, without prejudice to its rights under law, to cooperate with authorities in any case in which the Content violates the applicable law, rules and regulations. Advertisers/users consent to the disclosure of certain personally identifiable information about the advertisers/users by Ekhanei.com or SNT Bangladesh Limited to the law enforcement or governmental agencies when they are required by law to make such disclosure.  Upon receiving requests from the law enforcement or governmental agencies relating to alleged illegal activity or violation of applicable laws by an advertiser/user in his/her use of the Ekhanei.com’s services, Ekhanei.com or SNT Bangladesh Limited may disclose information which they deem necessary including, but not limited to, IP address of the user.'}}</p>


  <p class="text--muted mbs">{{{__ 'Ekhanei&#8228;com & SNT Bangladesh Limited reserve the right to seek all remedies available at law and in equity for violations of these Terms and Conditions, including but not limited to the right to limit, suspend  or terminate user account or block access to Ekhanei.com & SNT Bangladesh Limited and its features or remove posted Content.'}}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Indemnification:'}}</strong> {{__ 'Advertisers/users agree to indemnify, defend and hold harmless Ekhanei.com & SNT Bangladesh Limited, its officers, directors, employees, agents from and against all losses, expenses, damages and costs, including reasonable attorney’s fees, resulting from any violation of these Terms and Conditions, including negligent or wrongful conduct, by advertisers/users or any other person accessing the Ekhanei.com & SNT Bangladesh Limited.'}}</p>


  <p class="text--muted mbs"><strong>{{__ 'Modifications:'}}</strong> {{{__ 'Ekhanei&#8228;com & SNT Bangladesh Limited reserves the right to modify these Terms and Conditions at any time, to the extent permitted by applicable law. Such modifications shall be effective immediately upon posting on the Ekhanei.com & SNT Bangladesh Limited. You are responsible for regularly reviewing such modifications and your continued access or use of the Ekhanei.com shall be deemed your conclusive acceptance of the modified terms and conditions.'}}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Governing Law:'}}</strong> {{{__ 'Ekhanei&#8228;com is operated under the laws and regulations of Bangladesh. Advertisers/users agree that Bangladesh courts will have jurisdiction over any dispute or claim relating to the use of Ekhanei.com.'}}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Final Provisions:'}}</strong> {{__ 'If the ownership of Ekhanei.com changes, we may transfer these Terms and Conditions to the new owners so they can continue to provide the service. The new owner will still have to honour the commitments we have made in these Terms and Conditions.'}}</p>
  <p class="text--muted mbs"><strong>{{__ 'Prohibited items:'}}</strong> {{{__ 'Ekhanei&#8228;com prohibits the advertisement of certain items and services in the site. The following list contains (but is not limited to) the items & services which are considered as prohibited. This prohibition on these items/services also extends to any ad related to facilitating the production, supply or consumption of such items.'}}}</p>

  <ul class="text--muted info_bullet mbs">
    <li> {{__ 'Any item or service which is considered as ‘illegal’ to sell or advertise under the prevailing laws of Bangladesh.'}}</li>
    <li>{{__ 'Stolen, smuggled, pirated, copied products. Any item violating patents, trademark and copyright laws.'}}</li>
    <li>{{__ 'Any item/service that is not being offered for selling, renting or hiring. Ads for ‘exchange offers’, ‘want to buy’ or ‘looking for’ items/services are prohibited.'}}</li>
    <li>{{__ 'Drugs, alcohol, liquor, tobacco, cigarettes in any form.'}}</li>
    <li>{{__ 'Any type of pharmaceuticals/medicine or health supplements for human or animals – herbal, ayurvedic, homeopathy. Any amulets or special medicine with ‘beauty’ or ‘strength’ enhancing or ‘magical’ powers.'}}</li>
    <li>{{__ 'Human organs, body parts, human waste (e.g. blood, kidneys, liver parts or any other kind).'}}</li>
    <li>{{__ 'Any plant/animal (or their parts) threatened by extinction, or protected by law.'}}</li>
    <li>{{__ 'Articles considered to be part of historical heritage, artifacts.'}}</li>

    <li>{{__ 'Any item/service used to promote or facilitate prostitution and pornography – including toys, images, videos, audios, books, magazines or any other pornographic material. Also advertisement for freelance models, matchmaking, dating & escort services, massaging and spa treatment and physical therapies.'}}</li>

    <li>{{__ 'Gambling, betting, childcare, abortion, tarot card related services/products'}}</li>
    <li>{{__ 'Any financial instrument (original or copies in any form) including currencies and bills, bank accounts, credit cards, funds, checks, debit cards, loans, credit lines, shares, securities.'}}</li>
    <li>{{__ 'Insurance plans, Medical cards, SIM cards, Identity cards, birth certificates, driving licenses, passports, visas, vehicle or property registration documents, Paypal accounts. Or items that facilitate production, storage or obtaining of such items, including databases containing personal numbers and information.'}}</li>
    <li>{{__ 'Any kind of weapons & their accessories – guns, ammunition, explosives, fireworks, gunpowder, including weapons training or manufacturing materials'}}</li>
    <li>{{__ 'Crude oil and all of its products, i.e. petrol, diesel, gas, kerosene etc. Some chemical compound like Mercury.'}}</li>
    <li>{{__ 'Any hardware or software related with hacking, cracking passwords, decoders'}}</li>
    <li>{{__ 'Any hardware or software related to  satellite & Cable TV signals - e.g transmitter, set top box, antennas - not authorized in Bangladesh'}}</li>
    <li>{{__ 'Any propaganda that harasses, degrades or intimidates any group or individual'}}</li>
    <li>{{__ 'Multi Level Marketing, work from home, commission only jobs, reunion events, personal announcements/messages/greetings.'}}</li>
    <li>{{__ 'Items deemed as unhygienic (e.g. used contact lenses, breast pumps, baby bottles, pacifiers etc.)'}}</li>
    <li>{{__ ' Other items that may be deemed offensive or may harm SNT Bangladesh Limited and Ekhanei.com.'}}</li>
    <li>{{__ 'Some users may be restricted from posting certain type of items, or certain categories may be restricted for certain type of users.'}}</li>
  </ul>

  <p class="text--lead mbs">{{__ 'User privacy policy'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Scope & Consent'}}</strong></p>
  
  <p class="text--muted mbs">{{__ 'This Privacy Policy describes our practices with respect to personal data collected via our website [ekhanei.com], mobile application [ekhanei App] and associated services and tools, where users may engage in activities such as register with us, create a profile, post or view online classifieds listings, enter into transactions with other users, exchange messages and perform a host of associated functions. In all cases we shall comply with applicable provisions of data protection law in the jurisdictions where we operate. Ekhanei․com is operated under the laws and regulations of Bangladesh. Advertisers/users agree that Bangladesh courts will have jurisdiction over any dispute or claim relating to the use of Ekhanei.com.'}}</p>

  <p class="text--muted mbs">{{__ 'By using our website, downloading our mobile application, and/or using any associated services and tools where this Privacy Policy appears, you are deemed to have read, understood and given consent to our use of your personal data consistent with this Privacy Policy and with our Terms of Use.'}}</p>

  <p class="text--muted mbs">{{__ 'You should be aware that when you click certain links on our website or within our app you could be directed to other companies’ properties outside of our hosted environment where the information collected is outside of our direct control. The privacy policy of the third parties’ properties or applications will govern the information obtained from you by these third parties in those contexts.'}}</p>

  <p class="text--lead mbs"><strong>{{__ 'Information we collect, receive and host'}}</strong></p>

  <p class="text--muted mbn"><strong>{{__ 'Account and Profile Information: '}}</strong>{{__ 'When users create accounts on our site, we may require certain information such as a valid phone number and password. In addition, users may create a profile that includes information such as their geography, first and last name, gender, interests and associated information, including photos they may wish to upload.'}}</p>
  <p class="text--muted mbs">{{__ 'Any information users share in publiclyavailable profiles is their own responsibility. You should carefully consider the risks of making certain personal information—particularly information such as address or precise location information—publicly available.'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Listings and Transactions: '}}</strong>{{__ 'We may host the information, including personal information and contact information, valid contact information and password necessary to enable buyer and seller transactions, to message or communicate with other users. Much of the same information used to create an account or profile may be required to post a listing. Any information users share in listings is their own responsibility. Like with profiles, users should carefully consider the risks of making certain personal information—particularly information such as address or precise location information—publicly available in a listing.'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Games, Advertising and Promotions: '}}</strong>{{__ 'We may collect personal information such as your name and contact information when you participate in games, quizzes or other marketing promotions we sponsor on our site or on third-party sites. We may also process information related to the effectiveness of our advertising campaigns, including what ads are viewed and clicked either on our network or on third-party sites.'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Customer Care: '}}</strong>{{__ 'When you contact our customer care department, we may collect the personal information necessary to fulfill your request and to contact you for follow up as needed. We may also contact you using existing account contact information you provide to us for this purpose. We may also collect other information about our communications with our users, for example any customer support requests that our customers make or any feedback that our users provide to us.'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Website and Mobile Data: '}}</strong>{{__ 'We may automatically receive and log information on our servers from your browser or device including your IP address, software and hardware attributes, pages that you request, mobile identifiers, information about app usage, and other device or systems-level information. This can occur on our website or mobile app, or on third parties’ services.'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Appended Information: '}}</strong>{{__ 'We may also append information we lawfully obtain from business partners or third parties to existing data we hold about our users.'}}</p>

  <p class="text--lead mbs">{{__ 'IP address, Cookies & Mobile indentifiers'}}</p>

  <p class="text--muted mbs">{{__ 'We may collect certain information through technology like cookies, pixels and local storage (like on your browser or device). Cookies are small text files that store information on your computer, mobile phone or other device locally. Pixels are small images that are part of codes on webpages that do things like allow another server to measure viewing of a webpage and often are used in connection with cookies. The code trackes if and when (and on which page) a pixel is loaded to indicate that a user has engaged with a specific screen or portion of a screen.'}}</p>

  <p class="text--muted mbs">{{__ 'With the help of cookies, the web server can save, for instance, preferences and settings on the user’s computer, mobile phone or other device which are then automatically restored on the next visit. Or to put it another way, the cookies are used, among other things, to make the use of the site more user-friendly so that, for instance, you do not have to repeat the log-in process when you visit again. We use both persistent cookies and session cookies. Whereas persistent cookies remain on your computer for a longer period of time, session cookies are automatically deleted when the browser window is closed.'}}</p>

  <p class="text--muted mbs">{{__ 'We may allow third parties such as advertising or analytics providers to collect information using these types of technologies directly on our website or from our mobile application. The data that they collect is subject to the applicable privacy policy of those third parties.'}}</p>

  <p class="text--lead mbs">{{__ 'Use of this information'}}</p>

  <p class="text--muted mbs">{{__ 'To provide our service we may use the information we collect and host for the following general purposes: (i) to provide customer services, including to create and manage user accounts, to resolve technical difficulties and to enable features; (ii) to customize offers and experiences, including advertising on our properties or third parties’ properties; (iii) to monitor general and individual user activity, such as keyword searches, postings and transactional activity, and to manage traffic on the Website; (iv) to contact our users, including for service matters, customer care or permitted marketing communications via any available communications channels; (v) to undertake research initiatives and to perform analytics to improve our services; (vi) to enforce our Terms of Use including to combat fraud and abuse. We may retain information that we collect and observe on our network only for as long as is required to fulfill the above business objectives.'}}</p>

  <p class="text--lead mbs">{{__ 'Information sharing'}}</p>

  <p class="text--muted mbn">{{__ 'We may share information we collect with our affiliates companies under common ownership and control or group entities jointly offering the service, including Naspers Group, Telenor Group, Singapore Press Holdings or Schibsted Media Group, located in any third country. These companies may only process and use this information to assist us for purposes described above and are bound to honor this Privacy Policy.'}}</p>
  <p class="text--muted mbn">{{__ 'We do not share personal information about our users with non-affiliated third parties unless we have our users’ specific permission to do so, or in the following circumstances:'}}</p>
  <p class="text--muted mbn">{{__ 'We may use third-party service providers to assist in offering aspects of our services, in which case they shall have no authority to independently use any personal information they process on our behalf, and shall be subject to the terms of this Privacy Policy.'}}</p>
  <p class="text--muted mbn">{{__ 'We reserve the right to share information with private or public authorities that will enable us to fight fraud and abuse on our network, to investigate suspected violations of law, or to fight any other suspected breach of our terms of service.'}}</p>
  <p class="text--muted mbn">{{__ 'We may share personal information with government authorities as required by applicable law.'}}</p>

  <p class="text--muted mbs">{{__ 'As a matter of policy we do not rent or sell personal information about our users with non-affiliated third parties unless we have our users’ specific permission to do so. In the event that our business or a division of our business is reorganized or sold and we transfer all or substantially all of our assets to a new owner, your personal information may be transferred to the buyer to enable continuity of service.'}}</p>
  <p class="text--muted mbs">{{__ 'We may share certain non-personal information (data that does not identify our users individually) with third-party service providers, trusted partners or approved researchers in order to better understand what advertisements or services may interest you, to improve the overall quality and effectiveness of our services or their services, or to contribute to academic research that we believe is of broader social benefit.'}}</p>

  <p class="text--lead mbs">{{__ 'Use controls'}}</p>

  <p class="text--muted mbs">{{__ 'Access, Correction and Deletion: For users that have created an account or listing with us, you can access, correct or delete the information you provided. You are responsible for keeping the data you provide or post on our network accurate'}}</p>
  <p class="text--muted mbn"><strong>{{__ 'Third Party Choice: '}}</strong>{{__ 'Certain third parties active on our site, e.g. Google Adwords, give you the ability to opt out of their collection and use of information for interest-based advertising. You can visit http://www.youronlinechoices.com or http://www.networkadvertising.org to learn more about this practice and to exercise choices over how this type of information may be collected and used.'}}</p>
  <p class="text--muted mbs"><strong>{{__ 'Cookies: '}}</strong>{{__ 'Most major desktop and mobile web browsers (eg Safari, Firefox, Internet Explorer, Chrome, Opera) provide controls that allow you to limit or block the setting of cookies on your systems. Note that disabling cookies in your browser for either first-party domains (the sites you actively visit) or third-party domains (companies other than those you directly visit on the Web) may result in decreased functionality in certain instances.'}}</p>

  <p class="text--lead mbs">{{__ 'Security'}}</p>

  <p class="text--muted mbs">{{__ 'All information we collect is protected by reasonable technical means and reasonable security procedures in order to prevent unauthorized access or use of data. Our affiliates, trusted partners and third-party service providers have committed to manage the information in accordance with our requirements for security and privacy.'}}</p>

  <p class="text--lead mbs">{{__ 'Changes to this policy'}}</p>

  <p class="text--muted mbs">{{__ 'This Privacy Policy was last updated on 6th September 2016. We may update this Policy from time to time. By continuing to use our services after that period our customers confirm their continuing acceptance of any updates to this Privacy Policy.'}}</p>

  <p class="text--lead mbs">{{__ 'Contact information'}}</p>

  <p class="text--muted mbs">{{__ 'If you have any questions about this policy please contact our customer service using the contact us form.'}}</p>

  <p class="text--muted mbs"><strong>{{__ 'Abuse and unsolicited commercial communications ("spam"):'}}</strong> {{__ 'it is not allowed to use our chat communication system to send spam or content that violates our Terms and Condition. For your security, we may scan messages automatically and check for spam, viruses, phishing and other malicious activity or illegal or prohibited content.'}} </p>
</div>