<div class="container-sm panel mtl pal">
	<h3 class="mtn">{{__ "Ad no longer exists"}}</h3>
	<p>{{__ "The ad you're looking for has been removed or expired. Don't worry though - there are plenty more ads on Ekhanei!"}} <a href="{{similarAdsLink}}" id="similarAdsLink">{{__ "View similar ads"}}</a>.</p>
	<a href="/" class="btn btn--primary">{{__ "Search Ads"}}</a>
</div>